@{
    ViewBag.Title = "Contactos";
}
<h2>@ViewBag.Title.</h2>


<address>
    Av. Pie de la Cuesta 2501, Nacional,.<br />
    76148 Santiago de Querétaro, Qro<br />
    <abbr title="Telefono">Tel:</abbr>
    442 209 6100
</address>

